/* Custom CSS File for Buyers to Modify */
.advance-search .more-options-wrapper.collapsed {
    display: block;
}
.more-option-trigger a i {
    display: none;
}
.menu-and-contact-wrap{

float:left;
right: 35px;
        padding-left: 37px; 
}

@media (min-width: 1200px)
#filter-by {
    right: -1px;
}
#filter-by a {
        float: right;
        border: none;
        border-right: 1px solid #dedede;
        margin-left: 0;
    }