@media (min-width: 1200px) {

    .user-nav a:last-child:after{
        margin: 0 10px;
    }

    .main-menu ul li ul li ul {
        left: auto;
        right: 234px;
    }

    .slide-description {
        left: auto;
        right: 0;
    }

    .small .selectwrap input {
        width: 105px;
    }

    .large .selectwrap input {
        width: 218px;
    }

    .property-items .span6 {
        margin-left: 0;
        margin-right: 29px;
    }

    .property-item .detail {
        padding-left: 0;
        padding-right: 16px;
    }

    .property-item .price {
        padding: 8px 13px 10px 10px;
        margin-left: 0;
        margin-right: -16px;
    }

    .property-item .property-meta span {
        padding-right: 0;
        padding-left: 12px;
        margin-right: 0;
        margin-left: 12px;
    }

    .widget.quick-links ul li {
        float: right;
    }

    .sidebar .widget .title {
        padding-left: 11px;
        padding-right: 19px;
    }

    .widget.advance-search .title {
        padding: 0 0 0 20px;
    }

    .widget.advance-search .small .selectwrap input{
        width: 69px;
    }

    .page-head h2 span {
        padding: 7px 28px 7px 58px;
    }

    .page-head p {
        padding: 17px 28px 17px 30px;
    }

    .listing-layout .property-item .price {
        margin-right: -18px;
        margin-left: -20px;
        padding: 8px 18px 10px 20px;
    }

    /*------------------------------------------------------*/
    /* Property Listing View
    /*------------------------------------------------------*/


    .property-grid .list-container {
        margin-left: 0;
        margin-right: -40px;
    }

    .property-grid .property-item {
        margin-left: 0;
        margin-right: 40px;
    }

    #comments .commentlist {
        padding: 2px 14px 5px 46px;
    }

    #comments .commentlist .children {
        padding: 0 61px 0 0;
    }

    #filter-by {
        right: auto;
        
    }

    #filter-by a {
        float: left;
        border: none;
        border-right: 1px solid #dedede;
        margin-left: 0;
    }

    #filter-by a:last-child {
        border-right: none;
    }


    /*-----------------------------------------------------------------------------------*/
    /*	Similar Properties on Property Detail Page
    /*-----------------------------------------------------------------------------------*/
    .detail .list-container h3 {
        margin: 0 40px 7px 0;
    }

    .detail .property-grid .property-item {
        margin-left: 0;
        margin-right: 40px;
    }

    #overview .property-item .property-meta span{
       margin-left: 0;
        margin-right: 15px;
        padding-right: 0;
        padding-left: 15px;
    }
}

@media (max-width: 979px) {

    .view-type{
        left: auto;
    }

    .user-profile-img-wrapper #user-profile-img{
        margin: 0 0 15px 0;
    }

    .user-profile-img-wrapper .real-btn{
        margin-right: 0;
        margin-left: 8px;
    }

}

@media (min-width: 768px) and (max-width: 979px) {

    .small .selectwrap input,
    .large .selectwrap input {
        width: 107px; /* fixed for rtl */
    }

    .property-items .span6 {
        margin-left: 49px;
        margin-right: 49px;
    }

    .property-item .price {
        padding: 10px 15px 10px 10px;
        margin: 0 -15px 10px 0px;
    }

    .listing-layout .property-item .price{
        margin: 0 -18px 10px -20px;
    }

    .widget.advance-search .advance-search-form {
        margin: 0 -20px 0 0;
    }

    .widget.advance-search .option-bar {
        float: right;
        margin-left: 0;
        margin-right: 20px;
    }

    .widget.advance-search .small .selectwrap input,
    .widget.advance-search .large .selectwrap input{
        width: 107px;
    }

    ul.featured-properties{
        margin-left: 0;
        margin-right: -82px;
    }

    ul.featured-properties li{
        padding: 0 0 40px 0;
        float: right;
        margin-left: 0;
        margin-right: 82px;
    }

    .property-grid .list-container {
        margin-left: 0;
        margin-right: -20px;
    }

    .property-grid .property-item {
        margin-left: 0;
        margin-right: 20px;
    }

    .detail .list-container h3 {
        margin: 0 20px 5px 0;
    }

    .detail .property-grid .property-item{
        margin-left: 0;
        margin-right: 20px;
    }

    .widget.advance-search .more-option-trigger{
        margin-right: 20px;
        margin-left: 0;
    }

    .widget.advance-search .more-options-wrapper .option-bar {
        margin-right: 20px;
        margin-left: 0;
        float: right;
    }
    .widget.advance-search .more-options-wrapper input[type="checkbox"]{
        margin-left: 5px;
        margin-right: 0;
    }
}


@media (max-width: 767px) {

    .small .selectwrap input, .large .selectwrap input{
        width: 90.4%;
    }

    .property-items .span6{
        margin: 0 19px;
    }

    .property-item .price{
        margin: 0 -12px 15px -10px;
    }

    #footer-bottom .copyright{
        text-align: center;
    }

    ul.featured-properties li{
        background: none;
        padding: 0 0 40px 0;
        float: right;
        margin-left: 0;
        margin-right: 27px;
    }

    /*
    .widget.calculator .small .selectwrap input,
    .widget.calculator .large .selectwrap input,
    .widget.advance-search .small .selectwrap input,
    .widget.advance-search .large .selectwrap input{
        width: 90.4%;
    }
    */

    .property-grid .list-container {
        margin-left: 0;
        margin-right: -20px;
    }

    .property-grid .property-item {
        margin-left: 0;
        margin-right: 20px;
    }

    #comments .comment .avatar{
        margin: 0 0 15px 15px;
    }

    #overview .property-item .property-meta span {
        padding-left: 0;
        padding-right: 16px;
    }

    #overview .property-item .property-meta .add-to-fav .fa{
        margin-right: 2px;
    }

    #overview .property-item .property-meta .printer-icon{
        background: #fff;
        padding-left: 15px;
    }

    #overview .property-item .features .arrow-bullet-list li{
        background: url(../images/rtl-feature-list-bullet.png) no-repeat 97% 14px;
    }

    #overview .left-box figure{
        margin-right: 0;
        margin-left: 27px;
    }

    .detail .list-container h3 {
        margin: 0 20px 5px 0;
    }

    .detail .property-grid .property-item{
        margin-left: 0;
        margin-right: 20px;
    }

    .listing-layout .about-agent figure{
        margin: 4px 0 15px 15px;
    }

    .about-agent .social_networks li {
        margin: 0 0 0 -4px;
    }

    .about-agent .social_networks li a{
        border-left: 1px solid #dedede;
    }

    .widget.advance-search .more-options-wrapper .option-bar{
        float: right;
    }

    #overview .contacts-list{
        margin-right: 0;
    }

}


@media (max-width: 499px) {

    .property-item .price{
        margin: 0 0 15px 0;
    }

    .listing-layout .property-item .property-meta span{
        border-left: none;
        margin: 0;
    }

    .property-items .property-meta span{
        border-left: none;
        padding-left: 0;
    }


}


@media (max-width: 439px) {

    ul.featured-properties li {
        margin-right: 0px;
    }

    .advance-search .search-heading{
        padding-right: 10px;
        padding-left: 10px;
    }

    .advance-search .search-heading .fa-search{
        margin: 0 -10px 0 20px;
    }

    .small .selectwrap input, .large .selectwrap input {
        width: 82.4%;
    }

    .listing-layout .about-agent .social_networks{
        float: none;
    }

    .listing-layout .about-agent .social_networks li a{
        border: none;
    }

    .widget.advance-search .more-options-wrapper .option-bar{
        float: none;
    }

}


@media (max-width: 279px) {

}