body{
    direction: rtl;
    unicode-bidi: embed;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 0 20px 20px;
}

.aligncenter,
div.aligncenter {
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption.alignnone {
    margin: 5px 0 20px 20px;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}


/*  Header Top
-------------------------------------------------------------------------*/

#header-top #lang_sel {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}

#header-top #lang_sel_click {
    float: right;
    margin-right: 0;
    margin-left: 10px;
}

#header-top #lang_sel_list {
    float: right;
}

#currency-switcher-form {
    float: right;
    margin: 10px 0 0 10px;
}

#currency-switcher #selected-currency:after{
    right: auto;
    left: 5px;
}

/*  Contact Email
-------------------------------------------------------------------------*/
#contact-email {
    float: right;
    margin: 0 6px 0 0;
}

#contact-email .email {
    background: url(../images/icon-mail.png) no-repeat right 0;
    margin-right: 0;
    margin-left: 8px;
}

#contact-email svg{
    margin-right: 0;
    margin-left: 5px;
}


/*  Social Networks
-------------------------------------------------------------------------*/

.social_networks {
    float: left;
}

.social_networks li {
    margin: 0 -4px 0 0;
}

.social_networks li a {
    border-left: none;
    border-right: 1px solid #343a3b;
}

/* User Nav
--------------------------------------------------------------------------*/
.user-nav {
    float: left;
}

.user-nav a {
    direction: ltr;
}

.user-nav a:last-child i{
    margin-left: 5px;
}

.user-nav a:last-child:after{
    content: "\f068";
    margin: 0 8px;
}

.user-nav a:first-child:after{
    content: '';
    margin: 0;
}

/*  Logo
-------------------------------------------------------------------------*/
#logo {
    float: right;
}

#logo h2.logo-heading {
    position: relative;
    left: auto;
    right: 2px;
}

/*  Tag Line
-------------------------------------------------------------------------*/
.tag-line {
    margin-left: auto;
    margin-right: 0px;
    text-align: right;
}

/*  Menu and Contact Wrap
-------------------------------------------------------------------------*/
.menu-and-contact-wrap {
   ///*right: auto;
  /////  left: 0;
*/}

/*  Main Nav
-------------------------------------------------------------------------*/
.main-menu {
    float: left;
}

.main-menu ul li {
    float: right;
}

.main-menu ul li a {
    /*padding: 10px 14px;*/
}

.main-menu ul li ul {
    left: auto;
    right: 0;
}

.main-menu ul li ul li ul {
    left: auto;
    right: 220px;
}


/*  Contact Number
-------------------------------------------------------------------------*/
.contact-number {
    float: left;
    margin: 42px 0 0;
}

.contact-number .fa-phone{
    margin-right: 0;
    margin-left: 10px;
}

.contact-number .outer-strip {
    right: auto;
    left: -88%;
}


/* Slide Description
-------------------------------------------------------------------------*/
.slide-description {
    left: auto;
    right: 62px;
}

.slide-description .know-more {
    left: auto;
    right: 0;
}

#home-flexslider .flex-direction-nav li a{
    text-indent: 999em;
}

/*------------------------------------------------------*/
/* Advance Search
/*------------------------------------------------------*/
.advance-search .search-heading {
    padding-right: 0;
    padding-left: 50px;
    left: auto;
    right: 0;
}

.advance-search .search-heading .fa-search {
    margin-right: 0;
    margin-left: 20px;
}

.advance-search .advance-search-form {
    margin-left: 0;
    margin-right: -20px;
}

.advance-search .option-bar {
    float: right;
    margin-left: 0;
    margin-right: 20px;
}

.advance-search label span{
    display: inline-block;
}

.advance-search .more-option-trigger{
    margin: 10px 20px 0 0;
}

.widget.advance-search .more-option-trigger{
    margin-right: 15px;
    margin-left: 0;
}

.widget.advance-search .more-options-wrapper .option-bar{
    margin: 10px 15px 0 0;
}

.advance-search .more-option-trigger i.fa{
    margin: 0 0 0 8px;
}

.advance-search .more-options-wrapper .option-bar{
    margin-left: 0;
    margin-right: 20px;
}

.advance-search .more-options-wrapper input[type="checkbox"]{
    margin-right: 0;
    margin-left: 5px;
}

.widget.advance-search .more-options-wrapper input[type="checkbox"]{
    margin-right: 0;
    margin-left: 5px;
}

/*------------------------------------------------------*/
/* Google Map
/*------------------------------------------------------*/

#listing-map .gm-style-iw{
    left: auto !important;
    right: 28px !important;
}

#listing-map .map-info-window{
    padding-top: 10px;
}

/*------------------------------------------------------*/
/* Select Box
/*------------------------------------------------------*/
.selectwrap input {
    padding-right: 35px; /* modified for RTL */
}

.selectbox-wrapper {
    left: auto;
    right: 0px;
}

.small .selectwrap input,
.large .selectwrap input {
    width: 161px;
}

/*------------------------------------------------------*/
/* Property Item
/*------------------------------------------------------*/
.property-items .span6 {
    margin-left: 0;
    margin-right: 19px;
    float: right;
}

.property-item {
    text-align: right;
}

.property-item figure {
    float: right;
}

.property-item figure img {
    display: block;
}

.property-item figure figcaption {
    right: auto;
    left: 0;
}

.property-item .detail {
    float: left;
    padding-left: 0;
    padding-right: 10px;
}

.property-item .price {
    padding: 8px 11px 10px 8px;
    margin: 0 -11px 15px 0;
}

.property-item .property-meta span {
    float: right;
    padding: 10px 0 10px 12px;
    margin-right: 0;
    margin-left: 12px;
    border-right: none;
    border-left: 1px solid #dedede;
}

.property-item .property-meta span svg{
    margin-right: 0;
    margin-left: 5px;
}

.property-item .property-meta span:last-child {
    margin-right: 0;
    margin-left: 0;
}

.property-item .property-meta span [class^="icon-"], .property-item .property-meta span [class*=" icon-"] {
    margin-right: 0;
    margin-left: 8px;
}

.property-item .property-meta span .icon-area {
    background: url(../images/icon-size.png) no-repeat right center;
}

.property-item .property-meta span .icon-bed {
    background: url(../images/icon-bed.png) no-repeat right center;
}

.property-item .property-meta span .icon-bath {
    background: url(../images/icon-bath.png) no-repeat right center;
}

.property-item .property-meta span .icon-garage {
    background: url(../images/icon-garage.png) no-repeat right center;
}

#overview .property-item .property-meta .add-to-fav .fa{
    margin-right: 0;
    margin-left: 5px;
}

.more-details .fa-caret-right {
    margin-left: 0;
    margin-right: 6px;
}

#overview #property_map{
    direction: ltr;
}

/*------------------------------------------------------*/
/* Pagination
/*------------------------------------------------------*/
.pages-nav a {
    margin-right: 0;
    margin-left: 10px;
}

/*------------------------------------------------------*/
/* Carousel For Featured Properties
/*------------------------------------------------------*/
.es-carousel-wrapper .es-carousel {
    direction: ltr;
}

.es-carousel-wrapper ul li{
    text-align: right;
}

.es-carousel-wrapper ul li .price{
    direction: rtl;
}

/*------------------------------------------------------*/
/* Home News
/*------------------------------------------------------*/
.home-recent-posts{
    overflow: hidden;
}

/*------------------------------------------------------*/
/* Footer
/*------------------------------------------------------*/
#footer .widget ul {
    margin-left: 0px;
    margin-right: 2px;
}

#footer .widget ul li {
    padding: 0 10px 0 10px;
    background: url(../images/rtl-widget-list-bullet.png) no-repeat right 6px;
}

#footer-bottom .copyright{
    text-align: left;
}


/*------------------------------------------------------*/
/* widgets
/*------------------------------------------------------*/
.widget .title {
    padding: 15px 15px 16px 11px;
}

.widget ul {
    padding: 5px 22px 49px 18px;
}

.widget ul li {
    background: url(../images/rtl-feature-list-bullet.png) no-repeat 99% 15px;
    padding: 8px 14px 8px 0;
}

.widget .agent-info .contacts-list li{
    padding-left: 0;
    padding-right: 5px;
}

.widget .textwidget {
    padding: 5px 22px 49px 18px;
}

.widget.icl_languages_selector #lang_sel_list ul li a {
    margin-right: 0;
    margin-left: 5px;
}

.widget.icl_languages_selector #lang_sel_list.lang_sel_list_vertical ul li a {
    margin-right: 0;
    margin-left: 0;
}

.widget ul.menu ul.sub-menu .sub-menu .sub-menu .sub-menu .sub-menu li{
    margin-left: 0px;
}

/*------------------------------------------------------*/
/* Search Widget
/*------------------------------------------------------*/
.widget #s {
    padding-right: 6px;
    padding-left: 30px;
}

.widget #searchsubmit {
    background: url(../images/icon-lense.png) white no-repeat center 7px;
    width: 30px;
    height: 30px;
    right: auto;
    left: 2px;
}

/*------------------------------------------------------*/
/* Tagcloud Widget
/*------------------------------------------------------*/
.sidebar .widget .tagcloud {
    padding: 5px 22px 49px 18px;
}

.tagcloud a {
    float: right;
    padding: 6px 18px 7px 10px;
    margin: 0 0 1px 1px;
}

.tagcloud a:after {
    left: auto;
    right: 7px;
}

/*------------------------------------------------------*/
/* Calendar Widget
/*------------------------------------------------------*/
.widget #wp-calendar caption {
    text-align: right;
}


/*------------------------------------------------------*/
/*  Advance Search  Widget
/*------------------------------------------------------*/
.widget.advance-search .advance-search-form {
    margin: 0 -15px 0 0;
}

.widget.advance-search .option-bar {
    float: right;
    margin-left: 0;
    margin-right: 15px;
}

.widget.advance-search .small input[type="text"],
.widget.advance-search .large input[type="text"] {
    width: 174px;
}

.widget.advance-search .small .selectwrap input,
.widget.advance-search .large .selectwrap input {
    width: 145px;
}


/*------------------------------------------------------*/
/* Page Head
/*------------------------------------------------------*/
.page-head .wrap {
    float: right;
}

.page-head span, .page-head p {
    margin: 0;
}

.page-head h1.page-title span {
    padding: 7px 18px 7px 38px;
}

.page-head p {
    padding: 17px 18px 17px 20px;
}

/*------------------------------------------------------*/
/* Agent Listing Page
/*------------------------------------------------------*/
.listing-grid-layout .title-heading {
    padding: 0 20px 0 30px;
    left: auto;
    right: -1px;
}

.listing-layout figure {
    float: right;
    margin: 4px 0 15px 23px;
}

.about-agent .contacts-list li {
    margin-right: 0;
    margin-left: 20px;
}

.listing-layout .real-btn.btn, .listing-layout .btn.btn-blue, .listing-layout .btn.btn-grey {
    float: left;
}

.listing-layout .social_networks li a i.icon-twitter:before {
    left: auto;
    right: 1px;
}

.listing-layout .social_networks li a i.icon-google-plus:before {
    left: auto;
    right: 2px;
}

.listing-layout .social_networks li a i.icon-linkedin:before {
    left: auto;
    right: 2px;
}

.listing-layout em{
    margin-right: 0;
    margin-left: 13px;
}

/*------------------------------------------------------*/
/* Agent Listing Detail Page
/*------------------------------------------------------*/
/*.listing-layout .span6 {
    width: auto;
    float: none;
    margin: 0 0 30px;
}*/

.listing-layout .property-item .price {
    margin: 0 -18px 10px -11px;
    padding: 8px 13px 10px 20px;
}

.listing-layout .property-by .title-heading {
    float: right;
}

/*------------------------------------------------------*/
/* Property Listing View
/*------------------------------------------------------*/
.view-type {
    right: auto;
    left: -1px;
}

.view-type a {
    float: right;
}

.view-type a.list {
    border-right: none;
    border-left: 1px solid #dedede;
}


/*------------------------------------------------------*/
/* Property Grid View
/*------------------------------------------------------*/
.property-grid .list-container {
    margin-left: 0;
    margin-right: -30px;
}

.property-grid .property-item {
    margin: 0 30px 30px 0;
    float: right;
}

.sort-controls{
    text-align: left;
}

/*------------------------------------------------------*/
/* Blog Page
/*------------------------------------------------------*/
.inner-wrapper .hentry.sticky {
    background: url(../images/sticky-pin.png) no-repeat left 62px;
}

.inner-wrapper .pagination a {
    margin-left: 0;
    margin-right: 2px;
}

.format-icon {
    right: auto;
    left: 0;
}

.listing-slider{
    direction: ltr;
}

/*------------------------------------------------------*/
/* Blog Single
/*------------------------------------------------------*/
.single article ul, .single article ol {
    margin: 0 40px 30px 0;
}

.common-list li, .disc-list ul li, .arrow-list ul li, .small-arrow-list ul li, .tick-list ul li {
    background: url(../images/rtl-feature-list-bullet.png) no-repeat right 7px;
    padding: 0 26px 0 0;
}

.disc-list ul li {
    background: url(../images/rtl-icon-disc-small.png) no-repeat 98% 9px;
}

.arrow-list ul li {
    background: url(../images/rtl-icon-arrow.png) no-repeat 100% 7px;
}

.small-arrow-list ul li {
    background: url(../images/rtl-icon-arrow-small.png) no-repeat 98% 8px;
}

.tick-list ul li {
    background: url(../images/icon-tick.png) no-repeat right 4px;
}

blockquote {
    border-left: none;
    border-right: 7px solid #dedede;
    padding: 24px 30px 13px 20px;
    margin: 0  38px 30px 32px;
}

address {
    border-left: none;
    border-right: 7px solid #dedede;
    padding: 20px 25px 15px 20px;
    margin: 0  0 30px 20px;
}

/*------------------------------------------------------*/
/* Comments
/*------------------------------------------------------*/
#comments .comment .avatar {
    float: right;
}

.commentlist li.pingback {
    margin-left: 0;
    margin-right: 0;
}

.comment-detail-wrap {
    float: left;
    padding: 10px 28px 15px 48px;
}

.comment-detail-wrap .comment-detail-wrap-arrow {
    left: 0;
    right: -14px;
    background: url(../images/rtl-comment-detail-wrap-arrow.png) no-repeat 0 0;
}

/*------------------------------------------------------*/
/* Contact Page
/*------------------------------------------------------*/
.error-container, #message-sent {
    padding-left: 0px;
    padding-right: 8px;
}

.agent-detail .error-container,
.agent-detail #message-sent {
    /*padding-left: 0;*/
    padding-right: 0;
}

.contact-details address {
    float: right;
    padding-left: 0;
    padding-right: 25px;
    background-position: right 6px;
    border-right: none;
}

.contact-details .contacts-list {
    float: right;
}

.contact-details .contacts-list li svg {
    margin-right: 0;
    margin-left: 10px;
}

/*------------------------------------------------------*/
/* About Us Page
/*------------------------------------------------------*/
.disc-bullet-list li {
    padding-left: 0px;
    padding-right: 30px;
    background: url(../images/icon-disc.png) no-repeat right 6px;
}

/*------------------------------------------------------*/
/* Detail Page
/*------------------------------------------------------*/
#property-detail-flexslider{
    direction: ltr;
}

#overview .property-item .title {
    float: right;
    padding: 0 16px 0 0;
}

#overview .property-item .price {
    background: url(../images/rtl-arrow-black.png) no-repeat right 0;
    float: left;
    padding: 0 15px 0 0;
    direction: rtl;
}

#overview .property-item .price span {
    padding: 11px 14px 11px 10px;
    margin-right: 0px;
    margin-left: -1px;
}

#overview .property-item .price .status-label {
    margin-right: 0px;
    margin-left: -5px;
    padding-right: 7px;
    padding-left: 28px;
    background: url(../images/rtl-arrow-left.png) #292d2d no-repeat left 0;
}

#overview .property-item .property-meta span {
    margin: 0 10px 0 0;
    padding-left: 10px;
    padding-right: 0;
}

#overview .property-item .property-meta span.printer-icon {
    float: left;
    padding-right: 15px;
    border-left: none;
    border-right: 1px solid #dedede;
}

#overview .property-item .printer-icon a .fa{
    margin-left: 6px;
    margin-right: 0;
}

#overview .property-item .features .arrow-bullet-list li {
    background: url(../images/rtl-feature-list-bullet.png) no-repeat 95% 14px;
    float: right;
    margin: 0 0 2px 27px;
    padding-left: 0;
    padding-right: 25px;
}

#overview .property-item .features .arrow-bullet-list li a {
    padding: 7px 0px 7px 2px;
}

#overview .share-label,
#overview .common-label,
#overview .video-label,
#overview .map-label {
    padding: 6px 14px 8px 17px;
}

#overview .map-label {
    padding-left: 25px;
    padding-right: 20px;
}

#overview .share-networks a [class^="fa-"], #overview .share-networks a [class*=" fa-"] {
    margin: 0 12px 0 9px;
}

#overview .share-networks span {
    float: right;
    padding: 11px 0px 11px 23px;
    border-right: none;
    border-left: 1px solid #dedede;
}

#overview .share-networks .share-label {
    margin: -1px -1px -1px 6px;
    padding: 12px 17px 13px 21px;
    border-left: none;
}

#overview .left-box {
    float: right;
}

#overview .left-box figure {
    float: right;
    margin: 4px 0 20px 25px;
}

#overview .contacts-list {
    float: right;
}

#overview .contacts-list li {
    padding: 10px 0;
}

.contacts-list li svg{
    margin-right: 0;
    margin-left: 5px;
}

#overview .contacts-list li.office {
    background-position: right center;
}

#overview .contacts-list li.mobile {
    background-position: right center;
}

#overview .contacts-list li.fax {
    background-position: right center;
}

#overview .contact-form {
    float: left;
    width: 100%;
}

/*------------------------------------------------------*/
/* Features page
/*------------------------------------------------------*/
p .icon-remove {
    float: left;
    right: auto;
    left: 15px;
}

p.info,
p.tip,
p.success,
p.error {
    padding: 12px 22px 12px 35px;
}

/*-----------------------------------------------------------------------------------*/
/*	Submit Property Template
/*-----------------------------------------------------------------------------------*/
.submit-form .gallery-thumb {
    float: right;
    margin: 5px 0 0px 5px;
}

.submit-form .features-checkboxes input[type="checkbox"]{
    float: right;
}

.submit-form .features-checkboxes label{
    margin: 0 5px 0 0;
}

/*-----------------------------------------------------------------------------------*/
/*	Similar Properties on Property Detail Page
/*-----------------------------------------------------------------------------------*/
.detail .list-container h3 {
    margin: 0 30px 7px 0;
}

.detail .property-grid .property-item {
    margin: 0 30px 0 0;
}

/*-----------------------------------------------------------------------------------*/
/*	Login & Register
/*-----------------------------------------------------------------------------------*/
.login-register .main-wrap h3 {
    text-align: right;
}

#login-modal .close {
    float: left;
    margin-left: 0;
    margin-right: 10px;
}


/*-----------------------------------------------------------------------------------*/
/*	My Properties
/*-----------------------------------------------------------------------------------*/
.my-properties .main-wrap h3 {
    text-align: right;
}

.my-property .cell {
    float: right;
}

.my-property .property-title {
    border-right: none;
    border-left: 1px solid #dedede;
}

.my-property .property-title h5 {
    text-align: right;
}

.my-property .property-date i {
    margin-right: 0;
    margin-left: 5px;
}

.my-property .property-payment {
    float: left;
    border-left: 1px solid #dedede;
    border-right: none;
}

.my-property .property-controls {
    float: left;
}

/*-----------------------------------------------------------------------------------*/
/*	Property Detail Slider Two
/*-----------------------------------------------------------------------------------*/
#property-slider-two-wrapper{
    direction: ltr;
    overflow: hidden;
}

.property-grid .list-container .alert-wrapper {
    margin: 10px 50px 10px 0;
}

/*-----------------------------------------------------------------------------------*/
/*	Property Attachments
/*-----------------------------------------------------------------------------------*/
#overview .attachments-inner{
    padding-right: 15px;
    padding-left: 10px;
}
#overview .attachments-list li{
    float: right;
    padding-right: 10px;
    padding-left: 0;
}
#overview .attachments-list li i{
    margin-right: 0;
    margin-left: 10px;
}

#overview .child-properties .property-item figure{
    margin: 0 0 20px 20px;
}

#overview .child-properties .property-item .price small{
    margin-left: 0;
    margin-right: 5px;
}


/*-----------------------------------------------------------------------------------*/
/*	Submit Property Form
/*-----------------------------------------------------------------------------------*/
#submit-property-form .span6{
    float: right;
    margin-right: 0;
    margin-left: 0;
}

#submit-property-form .span6:first-child{
    margin-left: 2.1%;
}


/*-----------------------------------------------------------------------------------*/
/*	User profile page
/*-----------------------------------------------------------------------------------*/
.user-profile-img-wrapper #user-profile-img{
    float: right;
    margin: 0 0 11px 30px;
}